<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ly.count.android.sdk"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        tools:replace="android:allowBackup"
        android:allowBackup="false">

    <service android:name="org.openudid.OpenUDID_service">
        <intent-filter>
            <action android:name="org.OpenUDID.GETUDID" />
        </intent-filter>
    </service>
    </application>

</manifest>
